
<a class="btn btn-outline-secondary text-left" asp-controller="Collections" asp-action="Index" role="button">Back to Collections Main page</a>
<a class="btn btn-outline-secondary text-left" asp-controller="Collections" asp-action="MyCollections" role="button">Back to My Collections</a>


<h1 class="text-center">Add new Collection</h1>

<div class="border col-md-12">
    <h2 class="text-center">Hot Wheels</h2>
    <div class="border col-lg-12 ">
        <div class="d-inline-block ">
            <img class="border" style="height: 200px; width: 200px" src="https://static.wikia.nocookie.net/hotwheels/images/5/5a/2014.jpg" alt="Hot Wheels logo" />
            <p class="align-content-center text-center">Fast and Furious</p>
            <div>
                <a class="btn btn-outline-secondary text-center w-100" asp-controller="Collections" asp-action="CreateHotWheelsFastAndFurious" role="button">Create</a>
            </div>
        </div>
        <div class="d-inline-block ">
            <img class="border" style="height: 200px; width: 200px" src="https://m.media-amazon.com/images/I/81RtuAIDeqL._AC_SL1500_.jpg" alt="Hot Wheels logo" />
            <p class="align-content-center text-center">Fast and Furious Premium</p>
            <div>
                <a class="btn btn-outline-secondary text-center w-100" asp-controller="Collections" asp-action="CreateHotWheelsFastAndFuriousPremium" role="button">Create</a>
            </div>
        </div>
    </div>
</div>

<div class="border col-md-12">
    <h2 class="text-center">Lego</h2>

    @if (1 == 1)
    {
        <div class="col-lg-12 text-center">
            <h2>Will be available soon</h2>
        </div>
    }
    else
    {
        <div class="border col-lg-12 ">
            <div class="d-inline-block ">
                <img class="border" style="height: 200px; width: 200px" src="https://www.brickfanatics.com/wp-content/uploads/2019/04/LEGO-Star-Wars-logo-featured-800-445-1200x720.jpg" alt="Hot Wheels logo" />
                <p class="align-content-center text-center">Star Wars</p>
                <div>
                    <a class="btn btn-outline-secondary text-center w-100" asp-controller="Collections" asp-action="CreateLegoStarWars" role="button">Create</a>
                </div>
            </div>

        </div>
    }
</div>








