
<a class="btn btn-outline-secondary text-left" asp-controller="Collections" asp-action="Index" role="button">Back to Collections Main page</a>
<a class="btn btn-outline-secondary text-left" asp-controller="Collections" asp-action="MyCollections" role="button">Back to My Collections</a>


<h1>Add new Hot Wheels collection</h1>

<form method="post">
</form>




