@model CreateLegoInputModel

<div class="col-lg-12">
    <a class="btn btn-outline-secondary text-center w-100" asp-controller="Collections" asp-action="Create" role="button">Back to Create Page</a>
</div>

<h1 class="text-center">Create @Model.LegoTypeName Collection</h1>

<div class="col-lg-12 text-center">
    <img style="height:450px; width:1000px" src="https://i.ytimg.com/vi/T8qoQZQnIMA/maxresdefault.jpg" alt="Lego collection picture" />
</div>

<form method="post">
    <div class="col-lg-12">
        <div class="text-center">
            <div class="form-check">
                <input asp-for="IsPublic" type="checkbox" class="form-check-input">
                <label asp-for="IsPublic" class="form-check-label">Make My Collection Public</label>
            </div>
            <div class="form-check">
                <input asp-for="ShowPrices" type="checkbox" class="form-check-input">
                <label asp-for="ShowPrices" class="form-check-label">Show prices for my Items</label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Your opinion for the collection for example..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <input class="btn btn-outline-secondary text-center w-100" type="submit" value="Create" />
    </div>
</form>