



<div>
    <h1 class="text-center border">Trending Collections</h1>
    <div class="col-lg-12 border">
        <div class="d-inline-block border">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
            <p class="text-center">Owner</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out Collection</a>
            </div>
        </div>
        <div class="d-inline-block border">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
            <p class="text-center">Owner</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out Collection</a>
            </div>
        </div>
        <div class="d-inline-block border">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
            <p class="text-center">Owner</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out Collection</a>
            </div>
        </div>
        <div class="d-inline-block border">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
            <p class="text-center">Owner</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out Collection</a>
            </div>
        </div>
        <div class="d-inline-block border">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
            <p class="text-center">Owner</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out Collection</a>
            </div>
        </div>
    </div>
</div>




