




<div>
    <h1 class="text-center border">Your collections</h1>
    <div class="col-lg-12 border">
        <div class="d-inline-block">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
        </div>
        <div class="d-inline-block">
            <p class="text-center">Collection Name</p>
            <img style="width: 200px; height:200px" src="https://dzone.com/storage/temp/12808952-model-car-collection.jpeg" alt="Collection Image" />
        </div>

    </div>
</div>

<div class="col-lg-12">
    <a class="btn btn-outline-secondary text-center w-100" asp-controller="Collections" asp-action="Create" role="button">Create Collection</a>
</div>






