
@if (1 == 1)
{
    <div class="col-lg-12">
        <h1 class="text-center">We are currently working on the market place</h1>
    </div>

    <hr />

    <div class="col-lg-12 text-center">
        <img style="width:800px; height:500px" src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-opening-opening-poster-opening-soon-opening-soon-png-image_3840343.jpg" alt="Alternate Text" />
    </div>
}
else
{

    <div class="border col-md-12">
        <h2 class="text-center">Categories</h2>
        <div class="border col-lg-12 ">
            <div class="d-inline-block ">
                <img class="border" style="height: 100px; width: 100px" src="https://1000logos.net/wp-content/uploads/2020/09/Hot-Wheels-logo.png" alt="Hot Wheels logo" />
                <p class="align-content-center text-center">Hot Wheels</p>
            </div>
            <div class="d-inline-block ">
                <img class="border" style="height: 100px; width: 100px" src="https://media.designrush.com/inspiration_images/137696/conversions/_1611238416_214_lego_logo_2_34b6241a2a27-mobile.jpg" alt="Lego logo" />
                <p class="align-content-center text-center">Lego</p>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Seach for items here" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 border">
        <h2 class="text-center">Trending Offers</h2>

        <div class=" border">
            <div class="border d-inline-block">
                <p class="text-center">Offer name</p>
                <div class="text-center">
                    <img class="border" style="height: 200px; width: 200px" src="https://media.istockphoto.com/photos/pontiac-gto-hot-wheels-diecast-toy-car-picture-id545788626?k=6&m=545788626&s=612x612&w=0&h=PFpIoQB_RegFZoDz71w52mNS1kuSOigmbrRZCFvpLcU=" alt="Offer photo" />
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
                </div>
                <div>
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out offer</a>
                </div>
            </div>
            <div class="border d-inline-block">
                <p class="text-center">Offer name</p>
                <div class="text-center">
                    <img class="border" style="height: 200px; width: 200px" src="https://media.istockphoto.com/photos/pontiac-gto-hot-wheels-diecast-toy-car-picture-id545788626?k=6&m=545788626&s=612x612&w=0&h=PFpIoQB_RegFZoDz71w52mNS1kuSOigmbrRZCFvpLcU=" alt="Offer photo" />
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
                </div>
                <div>
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out offer</a>
                </div>
            </div>
            <div class="border d-inline-block">
                <p class="text-center">Offer name</p>
                <div class="text-center">
                    <img class="border" style="height: 200px; width: 200px" src="https://media.istockphoto.com/photos/pontiac-gto-hot-wheels-diecast-toy-car-picture-id545788626?k=6&m=545788626&s=612x612&w=0&h=PFpIoQB_RegFZoDz71w52mNS1kuSOigmbrRZCFvpLcU=" alt="Offer photo" />
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Emanuil Manolov</a>
                </div>
                <div>
                    <a class="btn btn-outline-secondary text-center w-100 " role="button">Check Out offer</a>
                </div>
            </div>
        </div>

    </div>
}