



<h1 class="text-center">Wellcome to the Jungle</h1>



<div class="border col-md-12">
    <h2 class="text-center">Trending conversations</h2>
    <div class="border col-lg-12">
        <div class="border col-lg-12">
            <h3>Topic name - Category - 30.07.2021</h3>
            <img class="col-lg-4" style="height:125px; width:300px" src="https://static.highsnobiety.com/thumbor/wAZjnohAI-tb0DuCPP6HyrbKOsk=/1600x1067/static.highsnobiety.com/wp-content/uploads/2020/08/04221137/hot-wheels-1-5-million-dollar-collection-01.jpg" alt="Topic image" />
            <p>6 Users | 200 Views | 20 Stars</p>
        </div>
        <button type="button" class="btn btn-outline-secondary " style="width:100%">See more trending topics</button>
    </div>
    

    <p class="col-md-6">Some text</p>
    <p class="col-md-6">Some text</p>
</div>


