
<a class="btn btn-outline-secondary text-left" asp-controller="Themes" asp-action="Index" role="button">Back to all themes</a>


<h1> all hot wheels items here</h1>

<div>
    <h2>Serie Name here</h2>
    <div class="card w-20 d-inline-block" style="width: 200px;">
        <p class="text-center">1/5</p>
        <img class="card-img-top" src="https://static.wikia.nocookie.net/hotwheels/images/6/63/BNR34_%28F%26F_2019%29.JPG" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nissan Skyline GT-R (BNR34)</h5>
            <p class="card-text">2 Fast 2 Furious</p>
            <a asp-controller="Marketplace" asp-action="Index" class="btn btn-primary">Check market for this item</a>
        </div>
    </div>
</div>
