



<h1 class="text-center display-3 ">All themes currently available</h1>


<div class="col-lg-12 border text-center">
    <figure class="figure">
        <div class="col-lg-12">
            <a asp-controller="Themes" asp-action="HotWheelsAll">
                <img src="https://vistapointe.net/images/hotwheels-2.jpg" class="figure-img img-fluid rounded img-responsive" alt="A generic square placeholder image with rounded corners in a figure.">
            </a>
        </div>

        <div class="text-center">
            <a class="btn btn-outline-secondary text-center" href="https://hotwheels.fandom.com/" role="button" target="_blank">Check out Hot Wheels fandom.</a>
        </div>
    </figure>

    <figure class="figure">
        <div class="col-lg-12">
            <a asp-controller="Themes" asp-action="LegoAll">
                <img src="https://cdn.wallpapersafari.com/46/0/SODfrH.jpg" class="figure-img img-fluid rounded img-responsive" alt="A generic square placeholder image with rounded corners in a figure.">
            </a>
        </div>

        <div class="text-center">
            <a class="btn btn-outline-secondary text-center" href="https://lego.com/" role="button" target="_blank">Check out official Lego site.</a>
        </div>
    </figure>
</div>

@if (1 == 0)
{
    <div class="col-lg-12">
        <a class="btn btn-outline-secondary text-center w-100" role="button">Suggest themes</a>
    </div>
}




